<launch>
  <!-- Arguments -->
  <arg name="move_forward_only" default="false"/>

  <!-- Hector_trajectory_server -->
  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="hector_trajectory_server" output="screen">
    <param name="target_frame_name" type="string" value="/map" />
    <param name="source_frame_name" type="string" value="/base_link" />
    <param name="trajectory_update_rate" type="double" value="4" />
    <param name="trajectory_publish_rate" type="double" value="0.25" />
  </node>

  <!-- move_base -->
  <include file="$(find robotics_lab2)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <node name="navigation_goals" pkg="robotics_lab2" type="navigation_goals.py" output="screen"/>
 
</launch>
