<launch>
	<!-- Gazebo -->
	<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
		<arg name="x_pos" default="2.1419999599456787"/> <!-- initial_pose[1] -->
		<arg name="y_pos" default="0.0"/> <!-- -initial_pose[0] -->
		<arg name="z_pos" default="0.0"/>
	</include>

	<!-- navigation -->
	<include file="$(find my_amcl)/launch/turtlebot3_nav_sim.launch"/>

</launch>